{:java {:jdk-source-uri "file:///usr/lib/jvm/java-11-openjdk/lib/src.zip"
        :home-path "file:///usr/lib/jvm/java-11-openjdk"
        :download-jdk-source? false}
 :log-path "/tmp/clojure-lsp.out"}
